.cont-img-header{
    width:100%;
    height: 500px;
   padding-top: 0.1px;
   margin: 0 auto;
}

.items-seccion{
    width:100%;
    height:150px;
    display:flex;
    padding: 0 30px;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}