
#menu-nav {
display: flex;
justify-content: space-between;
padding: 1%;
background-color:#DFCFE4;
top: 0;
width:100%;
position: fixed;
}

#nav-text {
  height: 80px;
  background-color: #DFCFE4;
}

.me-auto {
  background-color: #DFCFE4;
  color: azure;
  margin: 0;
}

.me-auto p {
  size: 20px;
}

#image-home {
  margin: 2%;
}

.description-page p {
  text-size-adjust: 90px;
  color: #24092B;
  font-size: x-large;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 4px;
  line-height: 35px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}

.login, .signup{
  margin-top: 10%;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}